# dependencies
/node_modules
/server/node_modules/
/web/node_modules/

# lock files (optional in this repo)
/server/package-lock.json
/web/package-lock.json

# env files
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
